@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

@layer base {
	:root {
		/* Name: custom color palette
			 Author: MoneyMess
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #007adf, #00ecbc);

		--background: 220 65% 3.52%;
		--foreground: 220 10% 97.2%;

		--muted: 220 50% 13.2%;
		--muted-foreground: 220 10% 54.4%;

		--popover: 220 45% 5.72%;
		--popover-foreground: 220 10% 97.2%;

		--card: 220 45% 5.72%;
		--card-foreground: 220 10% 97.2%;

		--border: 220 50% 13.2%;
		--input: 220 50% 13.2%;

		--primary: 220 100% 44%;
		--primary-foreground: 220 10% 97.2%;

		--secondary: 220 50% 13.2%;
		--secondary-foreground: 220 10% 97.2%;

		--accent: 220 50% 13.2%;
		--accent-foreground: 220 10% 97.2%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 220 10% 97.2%;

		--ring: 220 100% 44%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 216 100% 98.04%;
		--foreground: 213.6 100% 4.9%;

		--primary: 214.12 100% 50%;
		--primary-foreground: 0 0% 100%;

		--card: 216 100% 98.04%;
		--card-foreground: 213.6 100% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 213.6 100% 4.9%;

		--secondary: 214.74 100% 92.55%;
		--secondary-foreground: 216 100% 0.98%;

		--muted: 213.6 100% 95.1%;
		--muted-foreground: 0 0% 40%;

		--accent: 213.6 100% 95.1%;
		--accent-foreground: 214.12 100% 50%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 90.2%;
		--input: 0 0% 90.2%;
		--ring: 214.12 100% 50%;

		--radius: 0.5rem;
	}
}

/* Import base */

@import 'mixins';
@import 'colors';
@import 'easing';
@import 'variables';
@import 'reset';

/* General Styles */

::selection {
	background-color: hsl(var(--primary));
	color: hsl(var(--primary-foreground));
}

::-webkit-scrollbar {
	width: 5px;
	background-color: hsl(var(--background));
	border-radius: 8px;
	scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
	color: hsl(var(--primary));
	background-color: hsl(var(--primary));
	border-radius: 8px;
}

::-webkit-scrollbar-track {
	background-color: hsl(var(--background));
}

.dotPattern {
	background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
	background-size: 25px 25px;
}

.use-automation-zoom-in {
	animation: automation-zoom-in 0.5s;
}

.card-mask {
	background: radial-gradient(
		ellipse at center,
		rgba(0, 75, 224, 0.15),
		transparent
	);
}

.gradient {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		rgb(36, 0, 255) 0deg,
		rgb(0, 135, 255) 67.5deg,
		rgb(108, 39, 157) 198.75deg,
		rgb(24, 38, 163) 251.25deg,
		rgb(54, 103, 196) 301.88deg,
		rgb(105, 30, 255) 360deg
	);
}

.gradient-stone {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		rgb(181, 237, 252) 0deg,
		rgb(0, 135, 255) 67.5deg,
		rgb(40, 138, 244) 198.75deg,
		rgb(148, 84, 211) 251.25deg
	);
}

.gradient-attractiveness {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		rgb(255, 0, 0) 0deg,
		rgb(255, 0, 98) 67.5deg,
		rgb(153, 37, 37) 198.75deg,
		rgb(163, 52, 24) 251.25deg,
		rgb(196, 54, 97) 301.88deg,
		rgb(255, 30, 225) 360deg
	);
}
.gradient-richness {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		rgb(0, 255, 42) 0deg,
		rgb(0, 255, 200) 67.5deg,
		rgb(37, 153, 95) 198.75deg,
		rgb(98, 163, 24) 251.25deg,
		rgb(123, 196, 54) 301.88deg,
		rgb(255, 30, 225) 360deg
	);
}
.gradient-popularity {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		#0ffcff 0deg,
		rgb(0, 255, 200) 67.5deg,
		rgb(37, 149, 153) 198.75deg,
		rgb(24, 124, 163) 251.25deg,
		rgb(54, 127, 196) 301.88deg,
		rgb(255, 30, 225) 360deg
	);
}
.gradient-dominion {
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		#ffff0f 0deg,
		rgb(255, 230, 0) 67.5deg,
		rgb(128, 153, 37) 198.75deg,
		rgb(163, 103, 24) 251.25deg,
		rgb(196, 123, 54) 301.88deg,
		rgb(255, 30, 225) 360deg
	);
}

.lamp {
	opacity: 1;
	transform: translateY(-200px) rotate(180deg) scale(2) translateZ(0px);
}

.thin-line-icon {
	stroke-width: 0.5px;
}

.light-line-icon {
	stroke-width: 1px;
}

@keyframes automation-zoom-in {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}