@import "@/styles/mixins";

.right {
  --gap: calc(var(--main-padding) / 1.5);
  flex: 1;
  font-weight: 500;
  gap: var(--gap);
}

.name {
  position: absolute;
  right: calc(var(--avatar-size) + var(--gap));
  width: calc(100% - var(--avatar-size) - var(--gap));
  @include ellipsis;

  small {
    color: var(--grey);
    font-size: 0.8em;
    margin-left: 0.1em;
    font-weight: 400;
    display: block;
    margin-top: 0.15em;
  }
}

.txt {
	flex: 1;
	font-weight: 800px;

	small {
		display: block;
		font-weight: 400;
		color: var(--grey);
		font-size: calc(10px + 1 * (100vw - 320px) / 1080);
	}
}
