@import "@/styles/mixins";

.avatar {
  --default-size: calc(32px + 4 * (100vw - 320px) / 1080);
  width: var(--avatar-size, var(--default-size));
  height: var(--avatar-size, var(--default-size));
  border-radius: 50%;
	display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: #ddd; // Цвет фона, если нет изображения

  & > div {
    position: absolute;
    inset: 0;
    background-color: var(--bg-opacity-1);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    z-index: 1;
  }

  &::after {
    content: attr(data-letter);
    @include translate-center;
    position: absolute;
    font-weight: bold;
    font-size: calc(var(--avatar-size, var(--default-size)) / 2.5);
    padding-top: 0.15em;
    z-index: 0;
    color: var(--grey);
    text-transform: uppercase;
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 10%);
    width: calc(var(--avatar-size, var(--default-size)) / 2.5);
  }
}
.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #555;
}